<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="base/base_resources::header('Blog List')">
</head><!--/head-->

<body>
    <!-- menu -->
    <header id="header" th:include="base/base_template::header"/>

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Blog</h1>
                            <p>Blog with left sidebar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#action-->
    
    <section id="blog" class="padding-top padding-bottom">
        <div class="container">
            <div class="row">
                <div class="masonery_area">
                    <div class="col-md-3 col-sm-4" th:each="blog, blogStat : ${blogs}">
                        <div class="single-blog two-column">
                            <div class="post-thumb">
                                <a href="blogdetails.html"><img src="../../static/images/blog/masonary/1.jpg" class="img-responsive" alt=""></a>
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <ul class="nav nav-justified post-nav">
                                    <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>
                                </ul>
                                <h2 class="post-title bold"><a href="blogdetails.html" th:text="${blog.title}">标题</a></h2>
                                <h3 class="post-author"><a href="#" th:text="'Posted by ' +  ${blog.author}"></a></h3>
                                <p th:text="${blog.contents}">111</p>
                                <a th:href="@{'/blog/detail/' + ${blog.id}}" class="read-more">View More</a>
                                <div class="post-bottom overflow">
                                    <ul class="nav nav-justified post-nav">
                                        <li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#blog-->

    <!--底部 html-->
    <footer id="footer" th:include="base/base_template::footer"/>
    
    <!--延迟加载 js-->
    <div th:include="base/base_resources::footer"/>
</body>
</html>
